bin/
lib/
modules/
*.o
*.so
*.a
*.a
*.mod
*.swp
**/PET*.log
doc/latex
doc/html
examples/esmf_gotm/esmf_gotm_example
examples/esmf_fabm0d/esmf_fabm0d
examples/esmf_fabm0d/output.dat
examples/esmf_empty/esmf_empty
